@using MVC5TicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Departman Detay Sayfası</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman Adı :@ViewBag.dgr2</li>
</ol>
<table class="table table-hover">
    <tr>
        @*<th>Personel ID</th>*@
        <th>AD</th>
        <th>SOYAD</th>
        @*<th>GÖRSEL</th>*@
        <th>SATIŞLAR</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @*<td>@item.Personelid</td>*@
            <td>@item.PersonelAd</td>
            <td>@item.PersonelSoyad</td>
            @*<td>@item.PersonelGorsel</td>*@
            <td><a href="/Departman/DepartmanPersonelSatis/@item.Personelid" class="btn btn-default" style="background-color:orangered">Satışlar</a></td>
        </tr>
    }

</table>
